---
import RecruitingLayout from "../../layouts/RecruitingLayout.astro";
import RecruitingStats from "../../components/recruiting/RecruitingStats.astro";
import StateList from "../../components/recruiting/StateList.astro";
import { getCollection } from "astro:content";

const title = "Electrical & Low Voltage Recruiting Services | Jake's Jobs";
const description = "Electrical staffing for Fire Alarm, Controls, Security, Solar, Voice/Data, and Audio/Visual positions.";
---

<RecruitingLayout title={title} description={description}>
  <h1 class="text-purple-900 font-semibold tracking-tight lg:text-4xl mb-8 text-3xl">
    Light Industrial Staffing Nationwide
  </h1>
  
  <p class="text-lg mb-8">
    Expert Recruiting Services for Light Industrial Workers.
  </p>

  <section class="mb-12">
    <h2 class="text-2xl font-semibold mb-4">Why Partner with Jake's Jobs?</h2>
    <p class="text-gray-600">
      Our specialized focus on the light industrial industry sets us apart. We understand the unique challenges and requirements of your field, allowing us to identify and attract candidates who not only have the right technical skills but also align with your company culture and values.
    </p>
  </section>

  <RecruitingStats />

  <StateList />
</RecruitingLayout>